.env
.idea/
src/variables/SiteData.jsx
public/images/
node_modules/
!public/assets/images
public/assets/images/*
!public/assets/images/local_file.jpg
!public/assets/images/sidebar-background.jpg
!public/assets/images/UserProfileBGExample.jpg
!public/assets/images/UserProfileExample.jpg
