package-lock.json
.env
site-config.json
src/variables/Variables.jsx
src/variables/UserConfig.jsx
src/variables/SiteConfig.jsx
src/variables/LinksConfig.jsx
src/variables/GalleryConfig.jsx
src/variables/MapsConfig.jsx
src/variables/SiteConfig.jsx
.idea/
src/variables/PortfolioConfig.jsx
src/variables/ProjectsConfig.jsx
src/variables/ChartsConfig.jsx
src/variables/SiteData.jsx
public/images/

!public/assets/images
public/assets/images/*
!public/assets/images/local_file.jpg
!public/assets/images/sidebar-background.jpg
!public/assets/images/UserProfileBGExample.jpg
!public/assets/images/UserProfileExample.jpg
